@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 20, 22;
  --background-end-rgb: 32, 32, 38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(42, 44, 52);
}

::-webkit-scrollbar-track {
  background: rgb(18, 20, 29);
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2a2a2a;
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiPaper-root {
  background-color: #202026 !important;
  color: white !important;
  border-radius: 1rem;
}